body{
    background-image: url(https://t4.ftcdn.net/jpg/05/71/83/47/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.btn-outline-success{
    margin-right: 20px;
}

.list{
    flex-wrap: wrap;
    gap: 10px;
}


.card{
    width: 300px;
    position: relative;
}


.card-img-top{
    width: 100%;
    height: 300px;
}


.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.btn-buy{
    display: flex;
    justify-content: center;
}

.cod{
    font-size: 18px;
}

.header .container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-solo{
    width: 70vw;
    display: flex;
    flex-direction: row;
}


.card-img-solo{
    width: 50%;
}


.text-num-success{
    color: green;
}


.text-num-danger{
    color: red;
}


.card-title-solo {
    overflow: hidden;
    text-overflow: normal;
    white-space: wrap;
}


.card-text-solo {
    overflow: hidden;
    text-overflow: normal;
    white-space: wrap;
}


.btn-solo{
    padding: 15px 50px;
    margin-bottom: 30px;
}


.feedback{
    background-color: rgb(207, 207, 207);
    width: 70vw;
    padding: 15px 10px;
}


.form-control-text{
    height: 300px;
}

.navbar-nav{
    gap: 20px;
}


.nav-link:hover{
    color: blue;
}


.container{
    margin-bottom: 60px;
    justify-content: start;
}


.card-body-feedback{
    width: 60%;
}


.card-header{
    width: 60%;
}


.card-feedback{
    width: 60%;
    margin-bottom: 15px;
}